.marios-modal{
    display: flex;   
}

.from-text{
    color: #EA808E;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.type-text{
    color: #000;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-text{
    color: #494949;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.comment-text{
    color: #A1A1A1;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}