<div id="home-container">

    <div id="info-cards-container">
        <app-info-card [text]="'RECEIVED\nMARIOS:'" [number]=99></app-info-card>
        <app-info-card [text]="'SENT\nMARIOS:'" [number]=2></app-info-card>
    </div>

   
    <a class="button" style="align-self: flex-end;">
        ADD MARIOS
        <mat-icon svgIcon="right-arrow"></mat-icon>
    </a>
       
    <p class="white-font">LAST MARIOS:</p>


    <div class="test">
        <mat-grid-list cols="3" gutterSize="18" rowHeight="2:1.5">
            <mat-grid-tile
                *ngFor="let marios of marioses">
                <app-marios-card [marios]="marios"></app-marios-card>          
            </mat-grid-tile>
          </mat-grid-list>
    </div>
   


</div>




