/* You can add global styles to this file, and also import other style files */

body {
    background: linear-gradient(179deg, #E74850 8.85%, #236FE9 27.08%, #4286F4 55.73%);
    background-attachment: fixed;
}


.button{
    border-radius: 5px;
    border: 3px solid #FFF;
    background: #FFDF24;

    color: #000;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.935px;

    text-align: center;
    padding: 10px;
}